@font-face {
  font-family: "iran-yekan-bold";
  src: url(/fonts/IRANYekanBlack.ttf);
}

@font-face {
  font-family: "iran-yekan-thin";
  src: url(/fonts/IRANYekanThin.ttf);
}

@font-face {
  font-family: "iran-yekan-medium";
  src: url(/fonts/IRANYekanMedium.ttf);
}

@font-face {
  font-family: "iran-normal";
  src: url(/fonts/IRANSansWeb_Medium.woff);
}

@font-face {
  font-family: "iran-light";
  src: url(/fonts/IRANSansWeb_Light.woff);
}

@font-face {
  font-family: "iran-bold";
  src: url(/fonts/IRANSansWeb_Bold.woff);
}

@font-face {
  font-family: "iran-ultralight";
  src: url(/fonts/IRANSansWeb_UltraLight.woff);
}

/*estedad fonts*/
@font-face {
  font-family: "estedad-thin";
  src: url(/fonts/Estedad-Thin.woff2);
}

@font-face {
  font-family: "estedad-verybold";
  src: url(/fonts/Estedad-ExtraBold.woff2);
}

@font-face {
  font-family: "estedad-lightbold";
  src: url(/fonts/Estedad-Bold.woff2);
}

@font-face {
  font-family: "estedad-light";
  src: url(/fonts/Estedad-Light.woff2);
}

@font-face {
  font-family: "estedad-extralight";
  src: url(/fonts/Estedad-ExtraLight.woff2);
}

@font-face {
  font-family: "estedad-medium";
  src: url(/fonts/Estedad-Medium.woff2);
}

@font-face {
  font-family: "estedad-semibold";
  src: url(/fonts/Estedad-SemiBold.woff2);
}

@font-face {
  font-family: "estedad";
  src: url(/fonts/Estedad-Regular.woff2);
}
