@import "tailwindcss";
@import "./fonts.css";
@import "swiper/css";
@import "swiper/css/navigation";

@theme {
  --color-primary: #153d3d;
  --color-secondary: #2a7a7a;
  --color-deepblue: #3d8a8a;
  --color-accent: #d4af37;
  --color-paragray: #6b7a7a;
  --color-dark: #153d3d;
  --color-semantic-red: #F7588D;
  --color-semantic-yellow: #d4af37;
  --color-main-border-color: #5e5b5b17;

  --breakpoint-xs: 480px;

  --font-iran-yekan-bold: "iran-yekan-bold";
  --font-iran-yekan-thin: "iran-yekan-thin";
  --font-iran-yekan-medium: "iran-yekan-medium";

  --font-iran-sans-normal: "iran-normal";
  --font-iran-sans-light: "iran-light";
  --font-iran-sans-bold: "iran-bold";
  --font-iran-sans-ultralight: "iran-ultralight";

  --font-estedad-verybold: "estedad-verybold";
  --font-estedad-lightbold: "estedad-lightbold";
  --font-estedad-light: "estedad-light";
  --font-estedad-extralight: "estedad-extralight";
  --font-estedad-medium: "estedad-medium";
  --font-estedad-semibold: "estedad-semibold";
}

:root {
  direction: rtl;
}

button {
  cursor: pointer;
}

* {
  outline: none;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

@utility custom-title {
  @apply text-dark font-estedad-verybold text-2xl sm:text-[28px] md:text-4xl xl:text-[42px] 2xl:text-[44px] mt-10 md:mt-[70px] text-justify leading-12;
}

@utility custom-sub-title {
  @apply text-accent font-estedad-semibold md:text-lg border-r-2 border-r-accent pr-5 w-fit;
}

@utility main-btn {
  @apply bg-accent text-white py-3 px-10 rounded-[30px] font-estedad-semibold hover:bg-secondary transition-all duration-300 relative hover:pr-[55px] hover:pl-[25px] after:size-6 after:opacity-0 after:absolute after:bg-[url('/images/arrow_icon.png')] after:bg-no-repeat after:bg-center after:bg-contain after:top-1/2 after:right-0 after:-translate-y-1/2 hover:after:opacity-100 after:transition-all after:duration-300 hover:after:right-4;
}

@utility main-header {
    @apply text-2xl relative   font-estedad-verybold text-dark pb-2.5 border-b-2 border-[#5e5b5b17] mb-6 after:absolute after:content-[''] after:bg-accent after:top-full  after:-translate-y-px after:h-1 after:left-0 after:right-0 after:w-40
}



@utility section-border {
    @apply border-[2px] border-[#5e5b5b17] rounded-[10px];
}

.swiper {
  @apply pb-4;
}

.custom-bullet {
  @apply inline-block w-4 h-2 bg-accent/30 rounded-full transition-all duration-300 cursor-pointer;
}

.swiper-pagination-bullet-active.custom-bullet {
  @apply bg-accent w-8;
}
