@import "tailwindcss";
@import "./fonts.css";
@import 'swiper/css';
@import 'swiper/css/navigation';

@theme {

      --color-primary: #00A6FB;
      --color-secondary: #2AC28E;
      --color-deepblue: #4589F4;
      --color-paragray: #5C728E;
      --color-dark: #031D36;
    
      --breakpoint-xs : 480px;
    
    --font-iran-yekan-bold : "iran-yekan-bold";
    --font-iran-yekan-thin : "iran-yekan-thin";
    --font-iran-yekan-medium : "iran-yekan-medium";

    --font-iran-sans-normal : "iran-normal";
    --font-iran-sans-light : "iran-light";
    --font-iran-sans-bold : "iran-bold";
    --font-iran-sans-ultralight : "iran-ultralight";

    --font-estedad-thin : "estedad-thin";
    --font-estedad-verybold : "estedad-verybold";
    --font-estedad-lightbold : "estedad-lightbold";
    --font-estedad-light : "estedad-light";
    --font-estedad-extralight : "estedad-extralight";
    --font-estedad-medium : "estedad-medium";
    --font-estedad-semibold : "estedad-semibold";
    --font-estedad-thin : "estedad-thin";

}

:root {
    direction: rtl;
}

button {
    cursor: pointer;
}

* {
    outline: none;
}

.css-1u9des2-indicatorSeparator {
    display: none;
}

@utility custom-title {
    @apply text-dark font-estedad-verybold text-2xl sm:text-[28px] md:text-4xl xl:text-[42px] 2xl:text-[44px] mt-10 md:mt-[70px] text-justify leading-12
}

@utility custom-sub-title {
    @apply text-primary font-estedad-semibold md:text-lg border-r-2 border-r-primary pr-5 w-fit 
}

@utility main-btn {
    @apply bg-primary text-white py-3 px-10 rounded-[30px] font-estedad-semibold hover:bg-deepblue transition-all duration-300 relative hover:pr-[55px] hover:pl-[25px] after:size-6 after:opacity-0  after:absolute after:bg-[url('/images/arrow_icon.png')] after:bg-no-repeat after:bg-center after:bg-contain after:top-1/2 after:right-0 after:-translate-y-1/2 hover:after:opacity-100 after:transition-all after:duration-300 hover:after:right-4
}

.swiper {
    @apply pb-4
}

.custom-bullet {
     @apply inline-block w-4 h-2 bg-primary/30 rounded-full transition-all duration-300 cursor-pointer;
}

.swiper-pagination-bullet-active.custom-bullet {
  @apply bg-primary w-8;
}



