@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@media print {
  body {
    margin: 0 !important;
  }
}

:root {
  --ck-content-font-family: "iran-yekan-bold", "Vazir", "Tahoma", "Arial",
    sans-serif;
}

.main-container {
  font-family: var(--ck-content-font-family);
  width: 100% !important;
  margin: auto;
}
.editor-container__editor {
    width: 100%;
}
.text-editor-rtl {
  direction: rtl;
}

.text-editor-rtl .editor-container_classic-editor .editor-container__editor {
    width: 100%;
  direction: rtl;
}

.editor-container_classic-editor .editor-container__editor {
    max-width: auto !important;
    min-width: auto !important;
}



/* RTL styles for CKEditor */
.text-editor-rtl .ck-editor__editable {
  direction: rtl;
  text-align: right;
  font-family: var(--ck-content-font-family);
}

.text-editor-rtl .ck-toolbar {
  direction: rtl;
}

.text-editor-rtl .ck-toolbar__items {
  flex-direction: row-reverse;
}

.text-editor-rtl .ck-dropdown__panel {
  direction: rtl;
  text-align: right;
}

.text-editor-rtl .ck-list {
  direction: rtl;
  text-align: right;
}

.text-editor-rtl .ck-button {
  direction: rtl;
}

.text-editor-rtl .ck-editor__main {
  direction: rtl;
}
